#nav-main {
	border-radius: 4px;
	width: 80%;
	height: auto;
	margin-left: 10%;
	border: 8px solid #fff;
	background: lightblue;
}
#n-m-img {
	width: 100%;
	height: 400px;
	margin-bottom: 15px;
}
.n-m-nav {
	height: auto;
	background: #e67300!Important;
	color: #fff!Important;
	text-align: center;
}
body {
	background:  #e67300;
    background: -webkit-linear-gradient(#e67300, #fff); 
    background: -o-linear-gradient(#e67300, #fff);
    background: -moz-linear-gradient(#e67300, #fff);
    background: linear-gradient(#e67300, #fff);
}
.ad-mg-btm-0 {
	margin-bottom: 0!Important;
}
.n-m-nav li a {
	color: white!Important;
}
.n-m-b-heading {
	width: 100%;
	height: 50px;
	background: #e67300;
	padding: 10px;
	color: #fff;
}
.ad-bd {
	border: 3px solid #777;
	padding: 0!Important;
	border-radius: 4px;
}
.ad-pd {
	padding: 5px!Important;
}
ul.templatemo-submenu li:hover {
	background: #aaa;
	list-style: none;
	font-weight: bold;
	cursor: pointer;
}
ul.templatemo-submenu li:hover a {
	text-decoration: none!Important;
}
.nav-width {
	width: 80%;
	margin-left: 10%;
	height: auto;
}
.img-flex {
		width: 500px;
		height: 400px;
	}





@media screen and (min-width: 992px) {
	.img-flex {
		width: 500px;
		height: 400px;
	}
}
@media screen and (max-width: 991px) {
	.at-media-1 {
		margin-top: 10px;
	}
	.ad-pd .col-md-3 img {
		height: 600px;
	}
	.ad-bd-1 {
		border-right: 3px solid #777!Important;
	}
}
@media screen and (max-width: 600px) {
	.ad-icon {
		display: none;
	}
}











html {
	margin-bottom: 50px!Important
}
.ad-flt-rt {
	float: right;
}
.ad-pd .col-md-3 img  {
	width: 100%;
}
.n-m-b-body {
	background-color: #fff!Important;
}
.ad-bd-1 {
	border: 3px solid #777;
	border-right: 0;
	border-radius: 4px;
	padding: 0!Important;
}
.ad-mg-tp {
	margin-top: 15px;
}
span.text-right.ad-a-w a {color: white!Important;}
div.navbar.navbar-inverse.n-m-nav.ad-mg-btm-0 a {
	text-decoration: none!Important;
	color: white!Important;
}
.box-shadow {
	box-shadow: 0 0 20px 3px #ddd;
}
.ad-icon {
    position: fixed;
    left: 0;
    top:45%;
}
.fa-1 {
    padding-top: 15%!important;
    text-align: center;
    font-size: 25px!important;
    color: white;
    width: 60px;
    height: 60px;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.7;
    padding-top: 15px!Important;
}
.fa-1:hover {
    width: 100px;
    opacity: 1;
}
.fa-facebook {background: #3b5998;}
.fa-linkedin {background: #007bb6;}
.fa-google-plus {background: #dd4b39;}
.ad-icon li {
	list-style: none;
	padding: 0;
}
.ad-nav-1 {
	text-align: left!Important;
}
.ad-nav-2 {
	padding: 30px;
}
body {
	min-height: 100vh;
	padding-bottom: 10vh;
}
.img-index {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	transition: 0.5s;
}
.img-index:hover {
	cursor: pointer;
	box-shadow: 0 0 20px 3px #ccc;
}
.ad-mg-tp {
	margin-top: 30px;
}
.ad-mg-tp-1 {
	margin-top: 15px;
}
.ad-pd-0 {
	padding: 0!Important;
}
.ad-6 {
	display: inline;
	padding: 15px;
	width: 50%;
}
.ad-bd-bd {
	border-radius: 4px!Important;
}
.ad-bd-40 {
	border-radius: 40px!Important;
}
.a-b {
	color: #333;
}
.a-b:hover, .a-b:focus {
	
	text-decoration: none;
	color: #333;
}
.a-b:hover b {
	text-shadow: 2px 2px 2px #000;
}