#nav-main {
	border-radius: 4px;
	width: 80%;
	height: auto;
	margin-left: 10%;
	border: 8px solid #fff;
	background: lightblue;
}
#n-m-img {
	width: 100%;
	height: 400px;
	margin-bottom: 15px;
}
.n-m-nav {
	height: auto;
	background: #3b5998!Important;
	color: #fff!Important;
	text-align: center;
}
body {
	background: #3b5998;
    background: -webkit-linear-gradient(#3b5998, #fff); 
    background: -o-linear-gradient(#3b5998, #fff);
    background: -moz-linear-gradient(#3b5998, #fff);
    background: linear-gradient(#3b5998, #fff);
}
.ad-mg-btm-0 {
	margin-bottom: 0!Important;
}
.n-m-nav li a {
	color: white!Important;
}
.n-m-b-heading {
	width: 100%;
	height: 50px;
	background: #3b5998;
	padding: 10px;
	color: #fff;
}
.ad-bd {
	border: 3px solid #777;
	padding: 0!Important;
	border-radius: 4px;
}
.ad-pd {
	padding: 5px!Important;
}
ul.templatemo-submenu li:hover {
	background: #aaa;
	list-style: none;
	font-weight: bold;
	cursor: pointer;
}
ul.templatemo-submenu li:hover a {
	text-decoration: none!Important;
}
.nav-width {
	width: 80%;
	margin-left: 10%;
	height: auto;
}
@media screen and (max-width: 991px) {
	.at-media-1 {
		margin-top: 10px;
	}
	.ad-pd .col-md-3 img {
		height: 600px;
	}
	.ad-bd-1 {
		border-right: 3px solid #777!Important;
	}
}

.ad-footer {
	margin-top: 20px;
	padding-top: 10px;
	font-size: 1vw;
	border-top: 2px solid #fff;
	color: white;
}
.ad-footer a {
	color: #fff!Important;
}
html {
	margin-bottom: 50px!Important
}
.ad-flt-rt {
	float: right;
}
.ad-pd .col-md-3 img  {
	width: 100%;
}
.n-m-b-body {
	background-color: #fff!Important;
}
.ad-bd-1 {
	border: 3px solid #777;
	border-right: 0;
	border-radius: 4px;
	padding: 0!Important;
}
.ad-mg-tp {
	margin-top: 15px;
}